html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Noto Sans KR, sans-serif, Arial, Helvetica;
  background-color: #e9ecf1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
