.rightA {
  float: left;
  width: 50%;
  padding-left: 5px;
  box-sizing: border-box;
}

.rightA article {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #dee1e7;
}
