.searchB {
  display: flex;
  height: 42px;
  border-bottom: 1px solid #d5d6dc;
}

.search {
  width: 356px;
  height: 42px;
  padding: 8px 9px 8px 14px;
  border-right: 1px solid #d5d6dc;
}

.search input {
  float: left;
  width: 304px;
  height: 26px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 0;
  color: #2b2b2b;
  font-weight: 700;
}

.search a {
  float: left;
  width: 26px;
  height: 26px;
  background: url(https://cdn.upbit.com/images/bg.e801517.png) -90px 0 no-repeat;
  text-indent: -999em;
}

.setting {
  width: 44px;
  height: 42px;
}

.setting a {
  display: block;
  height: 100%;
  position: relative;
  text-indent: -9999em;
  cursor: pointer;
}

.setting a:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cdn.upbit.com/images/icon_setting.c6c76e6.png)
    no-repeat;
}
