.sectionA {
  float: left;
  width: 990px;
}

.sectionA article {
  /* float: left; */
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #dee1e7;

  /* display: block; */
}

.half {
  float: left;
  width: 100%;
  background-color: #e9ecf1;
}
